[flake8]

ignore = E501, W503, E203


exclude =
    .git,
    .github,
    __pycache__,
    **/migrations/**,
    env,
    venv,
    .venv,
    __init__.py
    build,
    dist,
    .pytest_cache,
    *.egg-info


filename = *.py


show-source = true


max-complexity = 10


statistics = true


max-line-length = 79
